#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Styling for the tables*/
.match-table {
  margin-bottom: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
}

.match {
  width: 100%;
  border-collapse: collapse;
}

.match th,
.match td {
  border: 1px solid #888;
  padding: 8px;
  text-align: center;
}

.Red {
  background-color: #ff9a9a;
  color:#690000;
}

.Blue {
  background-color: #9abaff;
  color:#050069;
}

div.Blue{
  margin-top: 20px;
}


h2 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 18px;
}

/* Add a thicker border between the scores for each fighter */
.match td + td:nth-of-type(4),
.match th + th:nth-of-type(4) {
  border-left: 3px solid #fff; /* Change border width and color as needed */
}

/* Style for the subtotal row */
.subtotal-row td {
  border-top: 3px solid #fff; /* Thicker border for subtotal */
  font-weight: bold; /* Make subtotal bold for emphasis */
}

.App{
  display: flex;
  justify-content: space-between;
}

.table-header{
  display: flex;
  justify-content: space-between;
}

.match input[type="checkbox"] {
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  transform: scale(1.5); /* Scale up the checkbox */
  cursor: pointer;
}

.scoreButton {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.Blue .scoreButton {
  background-color: #050069;
}

.Red .scoreButton {
  background-color: #690000;
}

.judgement-submit{
  padding: 15px;
  font-size: 20px;
  margin-top: 15px;
}

.double{
  background-color: firebrick;
}

.fighter-table{
  display: flex;
}
